<%- include("templates/Cabecera.ejs",{tituloweb : "MASCOTASðŸ¶"})%>
<div class="container">
  <h1 class="text-center mt-4">CRUD MONGO</h1>
  <a href="/mascotas/crear" class="btn btn-success btn-block w-100 my-4"
    >Crear nueva Mascota</a
  >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <% if (arrayMascotas.length > 0) { %> <% arrayMascotas.forEach(mascota =>
      { %>
      <tr>
        <th scope="row"><%= mascota.id%></th>
        <td><%= mascota.nombre%></td>
        <td><%= mascota.descripcion%></td>
        <td>@mdo</td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>
</div>

<%- include("templates/Footer.ejs")%>
